<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav style="background-color:#elc9c9">
        @Html.ActionLink("Trang Chủ", "Index", "Home", null, new { @class = "navbar-brand" })
        /
        @Html.ActionLink("Giới Thiệu", "About", "Home", null, new { @class = "navbar-brand" })

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Phòng Chuyên Môn Vũ Văn Tuấn </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
